<table class="table-bordered table-striped">
  <caption>Live User Data from <a href="http://www.fitbit.com">Fitbit.com</caption>
  <thead>
    <tr>
      <th>Field Name</th>
      <th>Value from REST API</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Fitbit ID</td>
      <td>{{fitbit_id}}</td>
    </tr>
    <tr>
      <td>Display Name</td>
      <td>{{display_name}}</td>
    </tr>
    <tr>
      <td>City</td>
      <td>{{city}}</td>
    </tr>
    <tr>
      <td>State</td>
      <td>{{state}}</td>
    </tr>
    <tr>
      <td>Gender</td>
      <td>{{gender}}</td>
    </tr>
    <tr>
      <td>Date of Birth</td>
      <td>{{date_of_birth}}</td>
    </tr>
  </tbody>
</table>