<div class="live-data-form">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Field Name</th>
        <th>Value from REST API</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Fitbit ID</td>
        <td>{{fitbit_id}}</td>
      </tr>
      <tr>
        <td>Display Name</td>
        <td>{{display_name}}</td>
      </tr>
      <tr>
        <td>City</td>
        <td>{{city}}</td>
      </tr>
      <tr>
        <td>State</td>
        <td>{{state}}</td>
      </tr>
      <tr>
        <td>Gender</td>
        <td>{{gender}}</td>
      </tr>
    </tbody>
  </table>
</div>
{{> common/_live_data_footer }}