<td>
    <div class="pull-left">
        <h4>{{name}}</h4>
        <small>{{description}}</small>
    </div>
    <div class="pull-right span8">
        <table class="table table-striped table-bordered">
            <tr><td>Duration</td><td>{{duration}}</td></tr>
            <tr><td>Calories</td><td>{{calories}}</td></tr>
            <tr><td>Distance</td><td>{{distance}}</td></tr>
            <tr><td>Steps</td><td>{{steps}}</td></tr>
            <tr><td>Activity ID</td><td>{{activityId}}</td></tr>
            <tr><td>Log ID</td><td>{{logId}}</td></tr>
        </table>
    </div>
</td>