<h3>Current Status</h3>
<div>
	<% if user_signed_in? %>
		You are logged in
		<% if current_user.fitbit_account.verified? %>
			and your <%= link_to 'test account', fitbit_info_path %> is linked with your Fitbit account.
			
			<div id="fitbit-user-info-container">
        <div id="fitbit-user-info">
        	<div class="line-title">User Information from Fitbit.com</div>
        	<div class="line-item">
        		<div class="label">User Id:</div> 
        		<div class="value"><%= @info['encodedId'] %></div>
        	</div>
        	<div class="line-item">
        		<div class="label">Display Name:</div> 
        		<div class="value"><%= @info['displayName'] %></div>
        	</div>
        	<div class="line-item">
        		<div class="label">City:</div> 
        		<div class="value"><%= @info['city'] %></div>
        	</div>
        	<div class="line-item">
        		<div class="label">State:</div> 
        		<div class="value"><%= @info['state'] %></div>
        	</div>
        	<div class="line-item">
        		<div class="label">Gender:</div> 
        		<div class="value"><%= @info['gender'] %></div>
        	</div>
        	<div class="line-item">
        		<div class="label">Date of Birth:</div> 
        		<div class="value"><%= @info['dateOfBirth'] %></div>
        	</div>
        </div>
      </div>

			<%= button_to "Disconnect your Fitbit Account", url_for(:controller => :fitbit_oauth, :action => :disconnect)%>

			
			<div style="clear:both">&nbsp;</div>
		<% else %>
			but you are <strong>not yet</strong> linked with a Fitbit account.
			<%= link_to "Click here to connect with your Fitbit account.", url_for(:controller => :fitbit_oauth, :action => :index)%>
		<% end %>
	<% else %>
		You are not logged in. <%= link_to 'Sign in', new_user_session_path %> or <%= link_to 'Register', new_user_registration_path %>
	<% end %>
</div>