<div id="login-container">
	<h4>Sign In</h4>

	<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
	  <p><%= f.label :email %><br />
	  <%= f.email_field :email %></p>

	  <p><%= f.label :password %><br />
	  <%= f.password_field :password %></p>

	  <% if devise_mapping.rememberable? -%>
	    <%= f.check_box :remember_me %> <%= f.label :remember_me, :style => "display:inline;" %> 
	  <% end -%>

	  <div class="small_buttons" style="float: right;"><%= f.submit "Sign in" %></div>
	<% end %>

	<div class="clearfix" style="clear:both;">
		<%= render :partial => "devise/shared/links" %>
	</div>
</div>