<div class="row navigation-buttons">
  <div class="small-6 columns go-back">&nbsp;</div>
  <div class="small-6 columns go-forward">
    <%= link_to "Playing With the Fitgem API <i class='fa fa-arrow-right'></i>".html_safe, guide_using_fitgem_path, class: 'button tiny round' %>
  </div>
</div>

<div class="page-header">
  <h1>Introduction <small>Chapter 1</small></h1>
</div>

<p>So you'd like to create an interesting application on top of the data available from the <a href="http://dev.fitbit.com">Fitbit REST API</a>.  <b>Provided you want to use <a href="http://rubylang.org">ruby</a> to build the interesting application</b>, this guide will help you to get setup to use <a href="http://rubygems.org/gems/fitgem">fitgem</a> to interact with the API.</p>

<p>
This application exists to teach users on several levels:
<ol>
  <li>As a reference app for how to write a real, OAuth-enabled application (<a href="https://github.com/whazzmaster/fitgem-client">the source for this app is available on github!</a>)</li>
  <li>As a testbed for the <b>fitgem</b> library in the context of a real, OAuth-enabled application.</li>
  <li>As in-depth examples on how to use the <b>fitgem</b> library.  <a href="http://rubydoc.info/github/whazzmaster/fitgem/master/frames">The fitgem API is documented thoroughly</a>, but this site provides a way to look at the method calls in the context of executing a task (getting user data, logging an activity, etc.)</li>
</ol>
</p>

<h2>Guide Topics</h2>
<p>This introduction section is meant to define terms and make sure you have the right context for the rest of the guide.  The guide covers five broad topics that should get you on your way to building an app using ruby, some kind of ruby web framework, and fitgem.</p>

<h3><%= link_to "Playing With the Fitgem API", guide_using_fitgem_path %></h3>
<p><b>Using Fitgem</b> walks through the conventions used by the gem, and describes how to use the library to read to and write from the Fitbit REST API.  By the end of this section you should be able to write command-line ruby scripts that can read or write data to Fitbit.</p>

<h3><%= link_to "Fitbit Resources: User Information", guide_user_information_path %></h3>
<p>The <b>Fitbit Resources</b> section describes the various resources you can read and write through the REST API in more detail, including examples for various types of resources</p>

<h2>Conventions Used in This Guide</h2>

<div class="well">
<h3>Tooltips</h3>
<p>Throughout the guide, when you see a <a rel="tooltip" data-original-title="Additional tooltip text"><i class="icon-question-sign"></i> text link like this</a> it denotes an available tooltip.  By hovering over it you will see additional information.
</div>

<div class="well">
<h3>Links to Github Source and Fitbit API Docs</h3>
Throughout the examples there are links to the source code for this site, as well as links to the Fitbit API documentation.  When linking to either, the link will always appear <a href="https://github.com/whazzmaster/fitgem-client/blob/master/README.md"><i class="icon-search"></i> like this</a>.
</div>

<div class="well">
<h3>Live Data</h3>
<p>In the examples are several areas where <b>live data</b> from the Fitbit API will appear if you have created an account and linked it with a corresponding Fitbit account.  This functionality is part of using this application as a real-life test of the fitgem library, and you don't have to create or link accounts to in order to view the guide.</p>
<p><%= link_to "Login with Fitbit to view Live Data examples", user_omniauth_authorize_path(:fitbit), class: 'btn btn-primary' %></p>
</div>

<div class="row navigation-buttons">
  <div class="small-6 columns go-back">&nbsp;</div>
  <div class="small-6 columns go-forward">
    <%= link_to "Playing With the Fitgem API <i class='fa fa-arrow-right'></i>".html_safe, guide_using_fitgem_path, class: 'button tiny round' %>
  </div>
</div>
