.contain-to-grid.sticky
  %nav.top-bar{data: {topbar: true, options: 'sticky_on: large'}, role: 'navigation'}
    %ul.title-area
      %li.name
        %h1
          = link_to 'Fitgem Reference Client', root_path
    %section.top-bar-section
      %ul.right
        - if user_signed_in?
          %li.has-dropdown
            %a{href: '#'}
              = current_user.username
            %ul.dropdown
              %li= link_to "Account Profile", user_profile_path
              %li= link_to "Logout", logout_path
        - else
          %li
            = link_to "Login with Fitbit", user_omniauth_authorize_path(:fitbit)
