.navbar
  .navbar-inner
    .container-fluid
      %a.btn.btn-navbar{:data => {:toggle => 'collapse', :target => '.nav-collapse'}}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'Fitgem Reference Client', root_path, :class => 'brand'
      .nav-collapse
        %ul.nav.pull-left
          %li{ :class => controller.action_name == "about" ? "active" : ""}= link_to "About", about_path
          %li.vertical-divider
          %li{ :class => controller.action_name == "blog" ? "active" : ""}= link_to "Blog", blog_path
        %ul.nav.pull-right
          - if user_signed_in?
            %li.dropdown
              %a.dropdown-toggle{:data => {:toggle => "dropdown"}}
                Logged in as
                = current_user.email
                %b.caret
              %ul.dropdown-menu
                - if current_user.linked?
                  %li= link_to "Unlink Fitbit Account", fitbit_unlink_path, :confirm => "Are you sure you want to unlink this site form your Fitbit account?"
                - else
                  %li= link_to "Link Fitbit Account", fitbit_connect_path
                %li.divider
                %li= link_to "Logout", logout_path
          - else
            %li
              = link_to "Login", login_path
            %li.divider-vertical
            %li
              = link_to "Sign Up", signup_path

