.side-navigation
  %ul.side-nav
    %li.heading Guide
    %li{ :class => controller.action_name == "introduction" ? "active" : ""}= link_to "Introduction", guide_introduction_path

    %li{ :class => controller.action_name == "using_fitgem" ? "active" : ""}= link_to "Getting Started", guide_using_fitgem_path
    %li{ class: controller.action_name == 'user_information' ? 'active' : ''}= link_to 'Fitbit Resources: User Information', guide_user_information_path
    %li{ class: controller.action_name == 'body_measurements' ? 'active' : ''}= link_to 'Fitbit Resources: Body Measurements', guide_body_measurements_path
    %li{ class: controller.action_name == 'activities' ? 'active' : ''}= link_to 'Fitbit Resources: Activities', guide_activities_path
    %li{ class: controller.action_name == 'foods' ? 'active' : ''}= link_to 'Fitbit Resources: Foods', guide_foods_path
    %li{ :class => controller.action_name == 'subscriptions' ? 'active' : ''}= link_to 'Fitbit Data Subscriptions', guide_subscriptions_path
    %li{ :class => controller.action_name == 'fitgem_on_rails' ? 'active' : ''}= link_to 'Fitgem on Rails', guide_fitgem_on_rails_path

    %li.heading More Information
    %li= link_to "Fitgem Source", "http://github.com/whazzmaster/fitgem"
    %li= link_to "Fitgem Documentation", "http://rubydoc.info/github/whazzmaster/fitgem/master/frames"
    %li= link_to "Source for this site", "http://github.com/whazzmaster/fitgem-client"
    %li= link_to "Fitbit.com Developer Site", "http://dev.fitbit.com"

    %li.heading Feedback
    %li= link_to "<i class='fa fa-bug'></i> Site Issues or Bugs".html_safe, "http://github.com/whazzmaster/fitgem-client/issues"
    %li= link_to "<i class='fa fa-bullhorn'></i> General Feedback or Ideas".html_safe, "mailto:fitgem.client@whazzing.com"
