!!! 5
%head
  %meta{:charset => "utf-8"}
  %title= content_for?(:title) ? yield(:title) : "Fitgem Reference Client"

  %link{:href => 'http://fonts.googleapis.com/css?family=Droid+Sans:regular,bold', :rel => 'stylesheet', :type => 'text/css'}
  %link{:href => 'http://fonts.googleapis.com/css?family=Droid+Serif:regular,italic,bold', :rel => 'stylesheet', :type => 'text/css'}

  = stylesheet_link_tag :application
  = javascript_include_tag :application
  = csrf_meta_tag
  = yield(:head)

%body
  = render 'layouts/header'

  .container-fluid
    - if notice
      .row-fluid
        #flash.alert.alert-success
          = link_to '&times;'.html_safe, nil, :class => 'close', :data => { :dismiss => 'alert' }
          = notice
    - elsif alert
      .row-fluid
        #flash.alert.alert-error
          = link_to '&times;'.html_safe, nil, :class => 'close', :data => { :dismiss => 'alert' }
          = alert

    .row-fluid
      .span3
        = render 'layouts/sidebar'
      .span9
        = preserve yield

    = render 'layouts/footer'
    = render 'layouts/analytics'