!!! 5
%head
  %meta{:charset => "utf-8"}
  %title= content_for?(:title) ? yield(:title) : "Fitgem Reference Client"

  %link{:href => 'http://fonts.googleapis.com/css?family=Droid+Sans:regular,bold', :rel => 'stylesheet', :type => 'text/css'}
  %link{:href => 'http://fonts.googleapis.com/css?family=Droid+Serif:regular,italic,bold', :rel => 'stylesheet', :type => 'text/css'}

  = stylesheet_link_tag :application
  = javascript_include_tag :application
  = csrf_meta_tag
  = yield(:head)

%body
  .navbar
    .navbar-inner
      .container-fluid
        %a.btn.btn-navbar{:data => {:toggle => 'collapse', :target => '.nav-collapse'}}
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        = link_to 'Fitgem Reference Client', root_path, :class => 'brand'

  .container-fluid
    .row-fluid
      .span3
        .well
          %ul.nav.nav-list
            %li.nav-header List header
            %li.active
              %a{ :href => "#"} Home
            %li
              %a{ :href => "#"} Library
      .span9
        %h2 Main Content
        = yield

    .row-fluid
      .span12
        &copy; 2012 Zachery Moneypenny
