<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Fitbit Test Client (Rails)" %></title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="container">
			<div id="header">
				<div id="login-nav">
					<% if user_signed_in? %>
						Signed in as <%= current_user.email %>. Not you?
						<%= link_to "Sign out", destroy_user_session_path %>
					<% else %>
						<%= link_to "Sign in", new_user_session_path %>
					<% end %>
				</div>
				<h1><%= link_to "Fitbit Test Client (Ruby on Rails)", root_url %></h1>
			</div>
			
			<div id="sidebar">
				<div class="box">
					<h3>About This Site</h3>
					<p>This is a running version of a test client for the <a href="http://www.fitbit.com">Fitbit service</a>.  It's written in Ruby 1.9 on top of Rails 3, and primarily uses the <a href="http://rubygems.org/gems/fitbit">ruby fitbit gem</a>.</p>
					<p>If you have a Fitbit account, you can walkthrough the server-side steps on how
						to authenticate a user with Fitbit and then get data.  It also currently includes a test interface to experiment with how data subscriptions work since the documentation on the process is a little light on the fitbit site.</p>
				</div>
				
				<div class="box">
					<h3>Get the Code</h3>
					<p>Find the code for this site on <a href="https://github.com/whazzmaster/fitbit-client">github</a>.</p>
				</div>
				
				<div class="box">
					<h3>The Fitbit API</h3>
					<p>For more information on the Fitbit REST API visit the  <a href="http://dev.fitbit.com">Fitbit developer center</a>.</p>
				</div>
			</div>
			
			<div id="content">
	      <% flash.each do |name, msg| %>
	        <%= content_tag :div, msg, :id => "flash_#{name}" %>
	      <% end %>

	      <%= content_tag :h1, yield(:title) if show_title? %>

	      <%= yield %>
			</div>
			
			<div id="footer">
				This site is for demonstration purposes only. I am not a member of the fitbit developer team and have no connection to the company other than I like their product and I built the <a href="http://rubygems.org/gems/fitbit">fitbit rubygem</a> to allow ruby clients access to their data.
			</div>
    </div>
  </body>
</html>
