<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Fitgem Reference Client" %></title>

		<link href='http://fonts.googleapis.com/css?family=Droid+Sans:regular,bold' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Droid+Serif:regular,italic,bold' rel='stylesheet' type='text/css'>

		<%= stylesheet_link_tag    "application" %>
	  <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="container">
			<header id="site-header">
				<h1><%= link_to "Fitgem Reference Client", root_url %></h1>
				<nav>
					<aside id="login-nav">
						<% if user_signed_in? %>
							Signed in as <%= current_user.email %>. Not you?
							<%= link_to "Sign out", destroy_user_session_path %>
						<% else %>
							<%= link_to "Sign in", new_user_session_path %>
						<% end %>
					</aside>
					<ul>
						<li><%= link_to 'Home', root_path %></li>
						<li><%= link_to 'Blog', blog_path %></li>
						<li><%= link_to 'Fitgem on Rails', examples_fitgem_path %></li>
						<li><%= link_to 'Resources', examples_resources_path %></li>
						<li><%= link_to 'Subscriptions', examples_subscriptions_path %></li>
						<li><%= link_to 'About', about_path %></li>
					</ul>
				</nav>
			</header>

			<div id="main" role="main">
				<article id="content">
					<% if flash[:notice] %>
						<div class="flash success-box"><%= flash[:notice] %></div>
					<% elsif flash[:alert] %>
						<div class="flash error-box"><%= flash[:alert] %></div>
					<% end %>

				  <%= content_tag :h1, yield(:title) if show_title? %>

					<%= yield %>
				</article>

				<aside id="site-sidebar">
					<%= yield(:sidebar) %>
					<%= render :partial => 'layouts/sidebar' %>
				</aside>
			</div>

			<footer id="site-footer">
				<div class="outer">
					<div class="inner">
						Copyright 2011, Zachery Moneypenny. See the <%= link_to 'About', about_path %> page for more information.
					</div>
				</div>
			</footer>
    </div>

    <a title="Real Time Web Analytics" href="http://getclicky.com/66459794"><img alt="Real Time Web Analytics" src="//static.getclicky.com/media/links/badge.gif" border="0" /></a>
    <script src="//static.getclicky.com/js" type="text/javascript"></script>
    <script type="text/javascript">try{ clicky.init(<%= APP_CONFIG[:clicky_analytics_id] %>); }catch(e){}</script>
    <noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/66459794ns.gif" /></p></noscript>
  </body>
</html>
