!!! 5
%head
  %meta{:charset => "utf-8"}
  %title= content_for?(:title) ? yield(:title) : "Fitgem Reference Client"

  %link{href: 'http://fonts.googleapis.com/css?family=Droid+Sans:regular,bold', rel: 'stylesheet', type: 'text/css'}
  %link{href: 'http://fonts.googleapis.com/css?family=Droid+Serif:regular,italic,bold', rel: 'stylesheet', type: 'text/css'}
  %link{href: '//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css', rel: 'stylesheet', type: 'text/css' }
  %link{href: '//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/zenburn.min.css', rel: 'stylesheet', type: 'text/css'}

  = stylesheet_link_tag :application
  = javascript_include_tag :application
  = javascript_include_tag 'vendor/modernizr'
  = javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js'
  = csrf_meta_tag
  = yield(:head)

%body
  = render 'layouts/header'

  .row
    .small-12.columns
      - if notice
        #flash.alert.alert-success
          = link_to '&times;'.html_safe, nil, :class => 'close', :data => { :dismiss => 'alert' }
          = notice
      - elsif alert
        #flash.alert.alert-error
          = link_to '&times;'.html_safe, nil, :class => 'close', :data => { :dismiss => 'alert' }
          = alert

  .row
    .small-12.large-4.columns
      = render 'layouts/sidebar'
    .small-12.large-8.columns
      = preserve yield

  .site-footer
    .row
      = render 'layouts/footer'

  = render 'layouts/analytics'

  :javascript
    hljs.initHighlightingOnLoad();
