<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Fitbit Test Client (Rails)" %></title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="container">
			<div id="header">
				<div id="login-nav">
					<% if user_signed_in? %>
						Signed in as <%= current_user.email %>. Not you?
						<%= link_to "Sign out", destroy_user_session_path %>
					<% else %>
						<%= link_to "Sign in", new_user_session_path %>
					<% end %>
				</div>
				<h1><%= link_to "Fitbit Test Client (Ruby on Rails)", root_url %></h1>
			</div>
			
			<%= render :partial => 'layouts/sidebar' %>
			
			<div id="footer">
				This site is for demonstration purposes only. I am not a member of the fitbit developer team and have no connection to the company other than I like their product and I built the <a href="http://rubygems.org/gems/fitbit">fitbit rubygem</a> to allow ruby clients access to their data.
			</div>
    </div>
  </body>
</html>
